# Node.js
node_modules/
npm-debug.log
*.log
*.lock
*.swp
.env

# Build
dist/
build/
*.js.map

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor/IDE specific files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS specific files
.DS_Store
Thumbs.db

# Other
*.tmp
*.log
*.pid
*.seed
*.csv
*.dat
*.geojson
*.log
*.sqlite
*.tar
*.gz
*.zip
*.rar
*.7z